/* chart */
  .chart-container{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0px 50px;
  }
.chart {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1), inset 0 0 10px rgba(0, 0, 0, 0.05);
    border: 5px solid hsl(0, 0%, 80%);
    display: flex;
    align-items: center;
    justify-content: center;
    
  }
 .details
 {
  display: flex;
  align-items: center;
 

 }
  .chart-details .food,.transport,.cloths,.others,.none
  {
    margin-bottom:5px;
    height:30px;
    width:30px;

    border-radius: 5px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1), inset 0 0 10px rgba(0, 0, 0, 0.05);
    border: 5px solid hsl(0, 0%, 80%);

  }
 .chart-details span{
  font-weight: bold;
  margin-left: 20px;
 }
 .chart-details .food
 {
  background-color: tomato;
 }
 .chart-details .transport
 {
  background-color: lightgreen;
 }
 .chart-details .cloths
 {
  background-color: lightblue;
 }
 .chart-details .others
 {
  background-color: orange;
 }
 .chart-details .none
 {
  background-color: grey;
 }